.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  pointer-events: none;
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #588fd5;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

.About-text {
  text-align: left;
}

.Footer {
  background-color: #e9d06d;
  margin: 25px;
  padding: 15px;
  
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.padd-left {
  padding-left: 10px;
}


